{% extends "layout.html" %}
{% set active_page = "about" %}
{% set active_page_title = "About the App" %}
{% block body %}
<div class="row-fluid">
  <div class="span6 offset3 fortext">
    <div class="container-fluid">
      <h3>Data</h3>
      <div class="container-fluid">
        <p>The bicycle parking data and the crime data are both provided by the
        <a href="https://data.sfgov.org">City of San Francisco</a>.</p>
      </div>
      <h3>Technology</h3>
      <div class="container-fluid">
        <p><a href="http://www.python.org/">Python</a> is used to read and munge the data.
        It is then stored in a <a href="http://www.postgresql.org/">PostgreSQL</a>
        database. Geospatial support from  <a href="http://postgis.net/">PostGIS</a> makes
        working with the geographic data straightforward and fast.</p>
      </div>
      <h3>Algorithm</h3>
      <div class="container-fluid">
        <p>For each bike rack, the number of nearby bike thefts are calculated.
        Since crime may move as the city changes, this number is weighted so
        that more recent thefts are weighted more heavily.</p>
        <p>More bikes will be stolen where more bikes are parked. But there will
        also be more bike racks where more bikes are parked. So the algorithm
        divides the number of nearby bicycle thefts by the number of nearby
        bicycle racks to account for this effect.</p>
        <p>To recommend a parking spot, the app computes the distance to and
        the normalized theft rate at all nearby racks. Both of these numbers
        are scaled and combined to produce a single number that is used to
        rank the parking spots.</p>
        <p>By changing the scaling, the algorithm can favor closer parking
        or safer parking. The default option tries to strike a good balance.</p>
      </div>
      <h3>App</h3>
      <div class="container-fluid">
        <p>The app is served up using the <a href="http://flask.pocoo.org/">
        Flask framework</a> for Python. It makes extensive use of the
        <a href="https://developers.google.com/maps/">Google Maps API</a>.
        Hosting is provided by <a href="http://aws.amazon.com/">Amazon Web
        Services</a>. The styling is done with <a href="http://getbootstrap.com/">
        Twitter Bootstrap</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
