{% extends "layout.html" %}
{% set active_page = "index" %}
{% set active_page_title = "Main" %}
{% block body %}
<div class="container">
  <div class="row splash-logo">
    <img src="{{ url_for('static', filename='img/logo.png') }}">
    <br /><p class="lead"><i>Bicycling in San Francisco? Park where theft is less likely.</i></p>
  </div>
  <div class="row splash-form">
    <form class="form-search" action="{{ url_for('map') }}" method=get>
      <iv class="search input-append">
        <input type="text" class="input input-large" name="address" placeholder="Enter an address…">
        <span class="add-on">San Francisco, CA</span>
        <button type="submit" class="btn btn-info btn-left-30 btn-rounded">Search</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
