{% extends "layout.html" %}

{% block body %}
		<div class="row-fluid">
		  <div class="span8">
		    <div class="container-fluid" id="map-canvas"></div>
		  </div>
		  <div class="span4">
		    <legend>Your Search</legend>

          <div class="container-fluid">
            <div class="form-horizontal form-small" style="margin-left: -30px;">
              <fieldset>
              <div class="control-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                  <input id="address" name="address" type="text" placeholder="" class="input-large" onchange="address_changed()">
                  <input id="citystate" class="input-large" name="" type="text" disabled value="San Francisco, CA">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="preference">Preference?</label>
                <div class="controls">
                  <div class="input-medium" id="preference" name="preference"></div>
                </div>
                  <div class="row-fluid">
                    <div class="span2">
                      <div class="container-fluid">closer</div>
                    </div>
                    <div class="span2 offset2">
                      <div class="container-fluid no-right-pad">safer</div>
                    </div>
                  </div>
                <label class="control-label" for="max_d">Max Distance</label>
                <div class="controls">
                  <select id="max_d" name="max_d" class="input-small" onchange="max_d_changed()">
                    <option value=160.9>0.10 mi</option>
                    <option value=241.4>0.15 mi</option>
                    <option value=321.9>0.20 mi</option>
                    <option selected="selected" value=402.9>0.25 mi</option>
                    <option value=804.7>0.50 mi</option>
                  </select>
                  <input type="submit" class="btn btn-info right30" value="Search">
                </div>
              </div>
             </fieldset>
            </div>
        </div>
        <div class="row-fluid">
		        <div class="container-fluid" id="errors"></div>
		    </div>
		    <legend>Recommended Parking</legend>
        {% for result_num in range(config['MAX_RESULTS']) %}
		    <div class="row-fluid" data-n="{{result_num}}" id="text{{result_num}}">
          <div class="span3">
            <div class="container-fluid no-right-pad" style="text-align: center" id="icon{{result_num}}"></div>
          </div>
          <div class="span9">
		        <div class="container-fluid" id="subtext{{result_num}}"></div>
          </div>
		    </div>
		    {% endfor %}
		  </div>
		</div>
{% endblock %}

{% block scripts %}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ config['MAPS_API_KEY'] }}&sensor=false">
	  </script>
		<script type="text/javascript">

			var map;
			var Markers;
			var SearchParams = {};
      var CenterMarker;

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.755906, -122.441597),
				  zoom: 12,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var h = $(window).height();
        var offset = 40;
        $('#map-canvas').css('height', (h - offset));
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        if ($.url().param('address') != undefined) {
          update_address($.url().param('address'));
        }
        if ($.url().param('max_d') != undefined) {
          SearchParams['max_d'] = $.url().param('max_d');
          $("#max_d").val(SearchParams['max_d']);
        } else {
          SearchParams['max_d'] = 402.9;
        }
        if ($.url().param('preference') != undefined) {
          SearchParams['preference'] = $.url().param('preference');
        } else {
          SearchParams['preference'] = 0;
        }
        $('#preference').slider({
            min: -10,
            max: 10,
            value: SearchParams['preference'],
            step: 1,
            tooltip: 'hide',
            stop: preference_changed
        });
      }


      window.onpopstate = function(event) {
        if (event.state) {
          SearchParams = event.state;
          $("#max_d").val(SearchParams['max_d']);
          $("#preference").slider("value", SearchParams['preference']);
          $("#address").val(SearchParams['address_string']);
          newSearch();
        }
      }

      function update_address(address_string) {
        SearchParams['address_string'] = $.trim(address_string);
        document.getElementById('address').value = SearchParams['address_string'];
        $.getJSON("http://maps.google.com/maps/api/geocode/json?address="+
                   encodeURIComponent(SearchParams['address_string']+
                                      ', San Francisco, CA')+
                   "&sensor=false", update_coords)
        .fail(lookupFailed);
      }


      function address_changed() {
        update_address($('#address').val());
      }

      function max_d_changed() {
        SearchParams['max_d'] = $('#max_d').val();
        newSearch();
      }

      function preference_changed() {
        SearchParams['preference'] = $("#preference").slider("value");
        newSearch();
      }

      function lookupFailed() {
        clearAll();
        $('#errors').html("<h5>Sorry</h5>"+
              "<p>Looking up the address failed. <br />"+
              "Make sure it's correct and try again later.</p>");
      }

      function update_coords(geo_data) {
        if (geo_data.status != "OK") {
          console.log("Geocoding failed with " + geo_data.status);
          lookupFailed();
        } else {
          if (geo_data.results.length > 1) {
            console.log("Multiple matches for address.");
          }
          var loc = geo_data.results[0].geometry.location;
          SearchParams['lat'] = loc.lat;
          SearchParams['lon'] = loc.lng;
          var form_add = geo_data.results[0].formatted_address;
          SearchParams['address_string'] = form_add.split(',')[0]
          $('#address').val(SearchParams['address_string'])
          newSearch();
        }
      }

      function clearAll() {
        if (Markers) {
          for (var i=0; i < Markers.length; i++) {
            Markers[i].setVisible(false);
            Markers[i].setMap(null);
          }
          Markers.length = 0;
        }
        document.getElementById('errors').innerHTML = "";
        for (var i=0; i < {{ config['MAX_RESULTS'] }}; i++) {
          document.getElementById('subtext'+i).innerHTML = "";
          document.getElementById('icon'+i).innerHTML = "";
        }
        if (CenterMarker) {
          CenterMarker.setVisible(false);
          CenterMarker.setMap(null);
        }
      }

      function newSearch() {
        clearAll();

        var old_SearchParams = SearchParams;

        $.getJSON("{{ url_for('search') }}?lat="+
                   encodeURIComponent(SearchParams['lat'])+
                   "&lon="+encodeURIComponent(SearchParams['lon'])+
                   "&max_d="+encodeURIComponent(SearchParams['max_d'])+
                   "&preference="+encodeURIComponent(SearchParams['preference']),
                   drawMarkers).fail(lookupFailed);
        window.history.pushState(old_SearchParams,
                                "map",
                                "{{ url_for('map') }}?address="+
                                encodeURIComponent(old_SearchParams['address_string'])+
                                "&max_d="+
                                encodeURIComponent(old_SearchParams['max_d'])+
                                "&preference="+
                                encodeURIComponent(old_SearchParams['preference']));
      }

      function getScoreColor(number) {
        var red;
        var green;
        number = Math.floor(number/10);
        if (number < 0) {
          number = 0;
        } else if (number >= 10) {
          number = 9;
        }
        if (number <= 4) {
          green = 63*number;
          red = 255;
        } else {
          green = 255;
          red = 255 - 51*(number - 4);
        }
        var rs = red.toString(16);
        var gs = green.toString(16);
        if (rs == "0") {
          rs = "00";
        }
        if (gs == "0") {
          gs = "00";
        }
        var color = "#" + rs + gs + "00";
        return color;
      }

      function drawMarkers(data, textStatus) {
        var n = data.n;
        map.panTo(new google.maps.LatLng(data.center.lat, data.center.lon));
        map.setZoom(16)

        Markers = new Array(n);

        if (n <= 0) {
          document.getElementById('errors').innerHTML = "<h5>Sorry</h5>"+
              "<p>There was no parking found within the specified range.</br />"+
                 "Try increasing your search radius.</p>";
        }

        CenterMarker = new google.maps.Marker({
          position: new google.maps.LatLng(data.center.lat, data.center.lon),
            title: "Destination",
            icon: {
              path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
              fillColor: 'black',
              fillOpacity: 1.0,
              scale: 0.05,
              strokeColor: 'black',
              strokeOpacity: 0.5,
              strokeWeight: 2
              },
            map: map,
          });

        google.maps.event.addListener(CenterMarker, "click", function() {
          map.panTo(CenterMarker.getPosition());
        });

        for(var i=0; i<n; i++) {
          var result = data.results[i];
          var address = result.address;
          var name = result.location_name;
          var score = result.safescore;
          var distance = result.distance;
          var latitude = result.lat;
          var longitude = result.lon;
          var safest = result.hasOwnProperty('safest');
          var closest = result.hasOwnProperty('closest');

          var color = getScoreColor(score);

          Markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(latitude, longitude),
            title: name,
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              fillColor: color,
              fillOpacity: 1.0,
              scale: 6,
              strokeColor: 'black',
              strokeOpacity: 0.5,
              strokeWeight: 2
              },
            map: map,
            score: score
          });

          var title = name;
          document.getElementById('icon'+i).innerHTML = '<i class="icon-circle icon-3x pull-left'+
                     'icon-border saferank'+Math.floor(score/10)+'"></i><br /><small>Safe:&nbsp;' + Math.round(score/10) + '/10</small>';
          var text = '<p><b>' + name + '</b><br />';
          if (address) {
            text += address + "<br />";
          } else {
            text += '&nbsp;<br />';
          }
          text +=  "Distance: "+
                   distance;
          if (closest) {
            text += " <small>(closest)</small>";
          }
          text += "</p>";

          $('#subtext'+i).html(text);

          var textdiv = document.getElementById('text'+i);
          textdiv.style.cursor = 'pointer';

          $(textdiv).click(function() {
            var i = $(this).data('n');
            var recenter = Markers[i].getPosition();
            map.panTo(recenter);
          });

          $(textdiv).mouseover(function() {
            var i = $(this).data('n');
            highlightMarker(Markers[i]);
            highlightText(i);
          });

          $(textdiv).mouseout(function() {
            var i = $(this).data('n');
            unhighlightMarker(Markers[i]);
            unhighlightText(i);
          });

          google.maps.event.addListener(Markers[i], "click", (function(i) {
            return function() {
              map.panTo(Markers[i].getPosition());
            }
          })(i));

          google.maps.event.addListener(Markers[i], "mouseover", (function(i) {
            return function() {
              highlightMarker(Markers[i]);
              highlightText(i);
            }
          })(i));

          google.maps.event.addListener(Markers[i], "mouseout", (function(i) {
            return function() {
              unhighlightMarker(Markers[i]);
              unhighlightText(i);
            }
          })(i));

        }
      }

    function highlightText(i) {
      document.getElementById('text'+i).style.backgroundColor = "rgba(200,238,247,0.5)";
      document.getElementById('text'+i).style.outline = "#555555 dotted thin";
    }

    function unhighlightText(i) {
      document.getElementById('text'+i).style.backgroundColor = "";
      document.getElementById('text'+i).style.outline = "";
    }

    function highlightMarker(marker) {
      var color = getScoreColor(marker.score);
      marker.setZIndex(google.maps.Marker.MAX_ZINDEX + 1);
      marker.setIcon({ path: google.maps.SymbolPath.CIRCLE,
                       fillColor: color,
                       fillOpacity: 1.0,
                       scale: 10,
                       strokeColor: 'black',
                       strokeOpacity: 0.5,
                       strokeWeight: 2
                     });
    }

    function unhighlightMarker(marker) {
      var color = getScoreColor(marker.score);
      marker.setIcon({ path: google.maps.SymbolPath.CIRCLE,
                           fillColor: color,
                           fillOpacity: 1.0,
                           scale: 6,
                           strokeColor: 'black',
                           strokeOpacity: 0.5,
                           strokeWeight: 2
                         });
    }

		google.maps.event.addDomListener(window, 'load', initialize);

		$(window).resize(function () {
      var h = $(window).height();
      var offset = 40;
      $('#map-canvas').css('height', (h - offset));
    }).resize();
		</script>

{% endblock %}
