body { padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
       background-image:url("/static/img/concrete_wall_3.png");
      }
#map-canvas img { width:auto; display:inline; max-width:none; line-height:normal; }
.form-small .control-label { width: 100px; }
.form-small .controls { margin-left: 120px; }
.splash-logo { text-align: center; margin-top: 100px}
.splash-form { text-align: center; }
.saferank0 { color: #FF0000; }
.saferank1 { color: #FF3300; }
.saferank2 { color: #FF6600; }
.saferank3 { color: #FF9900; }
.saferank4 { color: #FFCC00; }
.saferank5 { color: #FFFF00; }
.saferank6 { color: #CCFF00; }
.saferank7 { color: #99FF00; }
.saferank8 { color: #66FF00; }
.saferank9 { color: #33FF00; }
.saferank10 { color: #00FF00; }
.fortext { background-color: rgba(255,255,255,0.5); }
.down100 { margin-top: 100px; }
.right30 { margin-left: 30px; }
.btn-left-30 { margin-left: 30px; }

.no-right-pad { padding-right: 0px; }
.slider-legend-55 { width: 55px; display: inline-block; }

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-top: -40px;
  }
}
